:root {
  background-color: black;
  color: white;
  font-family: "Bombardier";
}

@font-face {
  font-family: "Bombardier";
  src: local("Bombardier-Regular"), url("../fonts/Bombardier-Regular.ttf")
}