.item-image {
  width: 50%;
  padding: 2px;
  margin: 3px;
}

.items-selected {
  border: 1px solid #CAC686;
  background-color: #242424;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 30px 80px 30px;
  padding: 10px;
}

.selected {
  width: 5%;
  margin: 0 10px;
}

span {
  font-size: calc(15px + 0.390625vw);;
}

.container {
  margin-top: 120px;
}
.multishop-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

.multishop {
  width: 15%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 20px;
  background-color: #242424;
  max-width: 180px;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
}

.multishop-top {
  width: 30vw;
  height:15%;
  position: absolute;
  top: 0%;
  border: 1px solid blue;
  max-width: 278px;
  background-color: blue;
}

.multishop-cap {
  width: 30vw;
  height:15%;
  position: absolute;
  top: -6%;
  border: 1px solid blue;
  border-radius: 40%;
  overflow: hidden;
  max-width: 278px;
  background-color: blue;
}

.multishop-bottom {
  width: 30vw;
  height: 10%;
  position: absolute;
  bottom: -1%;
  border: 1px solid blue;
  border-radius: 0 0 30px 30px;
  max-width: 278px;
  background-color: blue;
}

.multishop-bar {
  width: 9%;
  height: 50vh;
  background-color: blue;
  position: absolute;
  top:100%
}

@media (max-width: 1339px) {

  .multishop-container {
    max-width: none;
  }
  .multishop {
    margin: 0 50px;
  }
}

@media (min-width: 1441px) {
  .multishop-top, .multishop-bottom, .multishop-cap {
    max-width: 360px;
  }
  .multishop {
    max-width: 280px;
  }
}