:root {
  background-color: black;
  color: white;
  font-family: "Bombardier";
  margin-top: -20px;
}

@font-face {
  font-family: "Bombardier";
  src: local("Bombardier-Regular"), url("../fonts/Bombardier-Regular.ttf")
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  }


.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1
}

.loading {
  font-size: 2rem;
}