:root {
  background-color: black;
  color: white;
  font-family: "Bombardier";
}

#root {
  height: 100%;
}

@font-face {
  font-family: "Bombardier";
  src: local("Bombardier-Regular"), url("../fonts/Bombardier-Regular.ttf")
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  }


.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1
}

.loading {
  font-size: 2rem;
}