.item-image {
  width: 70%;
  padding: 2px;
  margin: 3px;
  z-index: 1;
}

.items-selected {
  border: 2px solid #CAC686;
  background-color: #242424;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 30px 80px 30px;
  padding: 10px;
  min-height: 10%;
}

.selected {
  width: calc(100% / 20);
  margin: 0 10px;
}

span {
  font-size: calc(15px + 0.390625vw);;
}

.container {
  margin-top: 120px;
}
.multishop-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

.multishop {
  /* width: 10%; */
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 90px;
  background-color: #242424;
  min-width: 135px;
  max-width: 135px;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  z-index: 1;
  flex: 1
}

.multishop-top {
  width: 250px;
  height: 15%;
  position: absolute;
  top: 0%;
  border: 1px solid blue;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multishop-cap {
  width: 250px;
  height:15%;
  position: absolute;
  top: -6%;
  border: 1px solid blue;
  border-radius: 40%;
  overflow: hidden;
  background-color: blue;
  z-index: 3;
}

.multishop-cap-tip {
  position: absolute;
  border-bottom: 30px solid blue;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	width: 110px;
  top: -8%;
  z-index: 2;
}

.multishop-rectangle {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #242424;
  z-index: 3;
  top: -2%;
}

.multishop-bottom {
  width: 250px;
  height: 10%;
  position: absolute;
  bottom: -1%;
  border: 1px solid blue;
  border-radius: 0 0 30px 30px;
  /* max-width: 175px; */
  background-color: blue;
  z-index: 2;
}

.multishop-bar {
  width: 9%;
  height: 49%;
  background-color: blue;
  position: absolute;
  top: 100%
}

.multishop-closed {
  transform: translateY(50%)
}

.item-hover {
  min-width: 300px;
  max-height: 400px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid #CAC686;
  background-color: #242424;
  position:absolute;
  top: -170px;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-hover-multishop {
  min-width: 300px;
  max-height: 400px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid #CAC686;
  background-color: #242424;
  position:absolute;
  top: -5%;
  left: -80%;
  z-index: 20;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-hover {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.text-hover {
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
}

@media (max-width: 1393px) {

  .multishop-container {
    min-width: 100%;
  }
}

@media (max-width: 974px) {
  .multishop {
    margin: 0 10px;
    min-width: 100px;
    max-width: 100px;
  }
  .multishop-top, .multishop-bottom, .multishop-cap {
    max-width: 175px;
  }
  .multishop-cap-tip {
    width: 90px;
  }
  .selected {
    width: calc(100%/ 15)
  }

}

@media (max-width: 600px) {
  .multishop {
    margin: 0;
    min-width: 70px;
    max-width: 70px;
  }
  .multishop-top, .multishop-bottom, .multishop-cap {
    max-width: 110px;
  }
  .multishop-cap-tip {
    width: 50px;
  }
  .selected {
    width: calc(100%/ 12)
  }
}

@media (max-width: 426px) {
  .multishop {
    margin: 0 30px;
    min-width: 50px;
    max-width: 50px;
  }
  .multishop-top, .multishop-bottom, .multishop-cap {
    max-width: 110px;
  }
  .multishop-cap-tip {
    width: 40px;
  }
  .selected {
    width: calc(100%/ 10)
  }

}

@media (max-width: 376px) {
  .multishop {
    margin: 0 20px;
    min-width: 50px;
    max-width: 50px;
  }
  .multishop-top, .multishop-bottom, .multishop-cap {
    max-width: 110px;
  }
  .multishop-cap-tip {
    width: 30px;
  }

}

