.item-image {
  width: 70%;
  max-width: 76px;
  padding: 2px;
  margin: 3px;
  z-index: 1;
}

.items-selected {
  border: 2px solid #CAC686;
  background-color: #242424;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 30px 80px 30px;
  padding: 10px;
  min-height: 10%;
}

.selected {
  width: 5%;
  margin: 0 10px;
}

span {
  font-size: calc(15px + 0.390625vw);;
}

.container {
  margin-top: 120px;
}
.multishop-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.multishop {
  /* width: 10%; */
  flex: 0 0 auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #242424;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  z-index: 1;
}

.multishop > * {
  flex: 0 0 auto;
}

.multishop-top {
  height: 15%;
  position: absolute;
  top: 0%;
  border: 1px solid blue;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multishop-cap {
  height:15%;
  position: absolute;
  top: -6%;
  border: 1px solid blue;
  border-radius: 40%;
  overflow: hidden;
  background-color: blue;
  z-index: 3;
}

.multishop-cap-tip {
  position: absolute;
  border-bottom: 30px solid blue;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
  top: -8%;
  z-index: 2;
}

.multishop-rectangle {
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #242424;
  z-index: 3;
  top: -2%;
}

.multishop-bottom {
  height: 10%;
  position: absolute;
  bottom: -1%;
  border: 1px solid blue;
  border-radius: 0 0 30px 30px;
  background-color: blue;
  z-index: 2;
}

.multishop-bar {
  width: 9%;
  min-height: 24.8vh;
  background-color: blue;
  position: absolute;
  top:100%
}

.multishop-closed {
  transform: translateY(50%)
}

.item-hover {
  min-width: 300px;
  max-height: 400px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid #CAC686;
  background-color: #242424;
  position:absolute;
  top: -170px;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-hover-multishop {
  min-width: 300px;
  max-height: 400px;
  min-height: 150px;
  padding: 5px;
  border: 2px solid #CAC686;
  background-color: #242424;
  position:absolute;
  top: -5%;
  left: -80%;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-hover {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.text-hover {
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .multishop-top, .multishop-cap, .multishop-bottom {
    width: 130%;
  }

  .multishop-cap-tip {
    width: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .multishop-top, .multishop-cap, .multishop-bottom {
    width: 160%;
  }

  .multishop-cap-tip {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .multishop {
    margin: 0 90px;
  }

  .multishop-top, .multishop-cap, .multishop-bottom {
    width: 175px;
  }

  .multishop-cap-tip {
    width: 90px;;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .multishop {
    margin: 0 90px;
    width: 105px;
  }

  .multishop-top, .multishop-cap, .multishop-bottom {
    width: 175px;
  }

  .multishop-cap-tip {
    width: 90px;;
  }
}